.tela-about{
    display: flex;
    justify-content: center;
    padding: 40px;
    align-items: center;
    
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    
}

.tela-about .conteudo p{
    padding: 40px;
    width: 70%;
    
    
}

h2{
    
    color: white;
}

.pont{
    color: red;
}




@media screen and ( max-width: 900px){


    .tela-about{
       
        padding: 20px;
       
        
    }

 
    
}
