*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
     
}

.geral{
  padding: 40px 4%;
  background-color: black;
  height: 100vh; 
  max-width: 1280px;
  margin: 0 auto;
}

.interface{
  
  display: flex;
  align-items: center;
}

img{
  height: 70px;
}

.menu-desktop{ 
  max-width: 1280px;
  margin: 0 auto;   
}

.menu-desktop a{
  color: #383636;
  text-decoration: none;
  display: inline-block;
}

.menu-desktop a:hover{
  color: #fff;
  transform: scale(1.10);
  transition: .2s;
}




.menu-desktop ul{
  list-style-type: none;
}


.menu-desktop ul li{
  display: inline-block;
  padding: 0 40px;
}



.contato-home .btn-contato{
  position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(114, 88, 88, 0.5);
}

.contato-home .btn-contato:hover{
  background-color: rgba(114, 88, 88, 0.5);
  color: white;
}


#wpp{
  color: 	#25D366;
  
}

#linkedin{
  color: #0A66C2;
}

#email{
  color: white;
}

#js{
  color: #f0db4f;
  
}
#figma{
  color: #83cd29;
}

#mysql{
  color: #00618a;
}
#react{
  color: #61dafb;
}
#sass{
  color: #CD6799;
}
#typescript{
  color: #007acc;
}
#github{
  color: #4183C4;
}

#cv{
  color: white;
}